@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../global/variables.scss";

.title {
  margin: 0;
  position: absolute;
  bottom: 0px;
  right: 10px;
  // font-family: "Prata", serif;
  font-family: "Noto Sans HK", sans-serif;
  // font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 70px;
  color: $white;
  -webkit-text-stroke-width: 1px;
  transition: all 0.5s ease;
  letter-spacing: -4px;
  text-transform: uppercase;
  cursor: pointer;
  // @media only screen and (min-width: 1024px) {
  //   font-size: 50px;
  //   letter-spacing: -4px;
  // }
  &.white {
    // color: black;
    // letter-spacing: -5px;
    text-shadow: 3px -3px 0px black;
    -webkit-text-stroke-color: black;
    &:hover {
      text-shadow: -3px 3px 0px black;
      transition: all 0.5s ease;
    }
  }
  &.blue {
    // letter-spacing: -4px;
    text-shadow: 3px -3px 0px $blueBox;
    -webkit-text-stroke-color: $blue;
    &:hover {
      text-shadow: -3px 3px 0px $blueBox;
      transition: all 0.5s ease;
    }
  }
  &.yellow {
    text-shadow: 3px -3px 0px $yellowBox;
    -webkit-text-stroke-color: $yellow;
    &:hover {
      text-shadow: -3px 3px 0px $yellowBox;
      transition: all 0.5s ease;
    }
  }
  &.red {
    text-shadow: 3px -3px 0px $redBox;
    -webkit-text-stroke-color: $red;
    &:hover {
      text-shadow: -3px 3px 0px $redBox;
      transition: all 0.5s ease;
    }
  }
}
